$accent-color: rgb(214, 181, 110);
$light-color: #f5f5f5;
$dark-color: #454a53;
$medium-color: #4e535c;
$universal-width: 1200px;
$cool-shadow: 0 0 5px rgba(0, 0, 0, 0.502);
$bold-shadow: 0 0 10px rgba(214, 181, 110, 0.902);
$header-height: 68px;
@mixin highlightedTitle() {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $accent-color;
  word-spacing: 4px;
  letter-spacing: 1px;
}
@mixin underlinedTitle() {
  letter-spacing: 1px;
  word-spacing: 4px;
  position: relative;
  width: fit-content;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;

    background-color: $accent-color;
    height: 3px;
    border-radius: 2rem;
    width: 66.6%;
  }
}

body {
  color: $dark-color;
}

@mixin colorPalette($background-color, $color) {
  background-color: $background-color;

  color: $color;

  input,
  textarea {
    background-color: $color;
    color: $background-color;
    &::placeholder {
      color: $background-color;
      opacity: 1; /* Firefox */
    }
  }
}

main > section:nth-child(even):not(.call-to-action):not(.hero) {
  @include colorPalette($light-color, $dark-color);
}
main > section:nth-child(odd):not(.call-to-action):not(.hero) {
  @include colorPalette($dark-color, $light-color);
}

button {
  padding: 0.8rem 1.8rem;
  font-size: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  color: $light-color;
  border-radius: 3px;
  background-color: $accent-color;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: pointer;
}

section.gallery {
  padding-left: 0rem;
  padding-right: 0rem;
  .content {
    h2 {
      margin-bottom: 2rem;
      line-height: 1.5rem;
      text-align: center;
      span {
        font-size: 1.2rem;
      }
    }
    .container {
      margin: auto;
      overflow-x: clip;
      width: fit-content;
      max-width: 100%;
      .slick-slider {
        width: $universal-width;
        $padding-left: 2rem;
        padding-left: $padding-left;
        position: static;
        .slick-dots {
          left: 0px;
          bottom: -50px;
          button:before {
            font-size: 0.8rem;
          }
        }
        .slick-arrow {
          z-index: 1;

          &.slick-prev {
            left: calc($padding-left + 1rem);
          }
          &.slick-next {
            right: calc($padding-left + 1rem);
          }
          &::before {
            font-size: 2.5rem;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: $dark-color;
          }
        }

        .gatsby-image-wrapper {
          height: 16rem;

          aspect-ratio: 1/1;

          border-radius: 3px;
          box-shadow: $cool-shadow;
        }
      }
      position: relative;

      &:before,
      &:after {
        position: absolute;
        top: 0;
        pointer-events: none;
        width: 60px;
        height: 100%;

        content: "";
        z-index: 2;
      }
      &:before {
        left: 0;
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          $light-color
        );
      }

      &:after {
        right: 0;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          $light-color
        );
      }
    }
  }
}

section.hero {
  min-height: calc(100vh - $header-height);
  min-height: calc(100svh - $header-height);
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/heroSection/hero-background.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    /*   background-attachment: fixed; */
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(3px); /* apply the blur */
      pointer-events: none; /* make the overlay click-through */
    }
  }
  .content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    column-gap: 2rem;
    row-gap: 3rem;
    justify-content: space-evenly;
  }
  .container.first {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2rem;
    h3 {
      @include highlightedTitle();
    }
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }
    h2,
    p {
      color: $light-color;
    }
  }

  .container.second {
    position: relative;
    $leng: 3rem;
    margin-left: $leng;
    .years {
      position: absolute;
      width: 9rem;
      box-shadow: $bold-shadow;
      top: 40%;
      left: -$leng;
      background-color: $light-color;
      padding: 0.8rem;

      span {
        font-size: 2rem;
        font-weight: 900;
      }
      p {
        font-size: 0.8rem;

        font-weight: 500;
      }
    }
    .placeholder {
      max-height: 20rem;
      aspect-ratio: 1/1;
      border: solid black 1px;
    }
    .gatsby-image-wrapper {
      max-height: 20rem;
      border-radius: 2px;
      box-shadow: $bold-shadow;
      aspect-ratio: 1/1;
    }
  }
}

section.about {
  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    .container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h3 {
        @include highlightedTitle();
      }
    }
    p {
      column-count: 2;
      width: 35rem;
    }
    p:first-letter {
      font-size: 4rem;
      color: $accent-color;
      font-weight: 900;
      initial-letter: 2;
      margin-right: 0.8rem;
    }
  }
}

section.services {
  .content {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
    h3 {
      text-align: left;
      margin-bottom: 2rem;
      text-transform: capitalize;

      @include underlinedTitle();
    }
    .container:first-of-type {
      margin-bottom: 6rem;
    }

    ul {
      display: grid;
      margin: auto;
      justify-content: center;
      $gap: 2rem;
      $cards-width: calc(($universal-width - ($gap * 2)) / 3);
      grid-template-columns: repeat(auto-fit, min(18rem, 100%));
      gap: $gap;
      width: 100%;
      max-width: 960px;
      li:first-of-type {
        position: relative;
      }
      li {
        $svg-width: 1.6rem;
        padding: 1.6rem 0rem;
        position: relative;
        background-color: $medium-color;
        padding-left: $svg-width * 2.1;
        border-radius: 3px;
        color: $light-color;

        svg {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 2rem;
          width: $svg-width;
          vertical-align: middle;
          fill: $accent-color;
          height: auto;
        }
      }
    }
  }
}

section.team {
  .content {
    h2 {
      text-align: center;
      margin-bottom: 4rem;
    }
    ul {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      overflow-x: hidden;

      li.member {
        .container {
          position: relative;
          .links {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 5%;
            display: flex;
            gap: 1.5rem;
            padding: 0.8rem;

            background-color: $accent-color;
            a {
              img {
                width: 1.2rem;
                vertical-align: middle;
                filter: invert(100%);
              }
            }
          }
          .gatsby-image-wrapper {
            max-height: 16rem;

            aspect-ratio: 1/1;
            border-radius: 1px;
          }
        }
        p {
          text-align: center;
        }
        & p:first-of-type {
          font-weight: 600;
          margin-top: 2rem;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}

section.achievements {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 6rem;
    column-gap: 3rem;

    .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      svg {
        height: auto;
        width: 5rem;
        fill: $accent-color;
      }

      p {
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 4px;
        font-weight: 500;
        span {
          position: relative;
          font-weight: 900;

          font-size: 1.5rem;
          line-height: 3rem;
        }
        span::before {
          content: "+";
          position: absolute;
          left: -1.5rem;
        }
      }
    }
  }
}

section.email {
  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h2 {
        font-weight: 500;
        text-align: center;
      }
      .animation {
        width: 8rem;
        margin-top: -2rem;
        svg {
          path[fill="rgb(216,27,96)"] {
            fill: rgb(233, 233, 233); /* Change the fill color for this path */
          }
          path[fill="rgb(236,64,122)"] {
            fill: rgb(222, 222, 222);
          }
          path[fill="rgb(170,19,86)"] {
            fill: rgb(211, 211, 211);
          }
          path[fill="rgb(238,238,238)"] {
            fill: rgb(42, 41, 41);
          }
          path[fill="rgb(6,42,123)"] {
            fill: $accent-color;
          }
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;

      gap: 2rem;

      label[for="message"] {
        svg {
          top: 0.5rem;
          left: 0.35rem;
        }
      }

      label[for="email"],
      label[for="name"] {
        svg {
          transform: translate(-50%, -50%);
          top: 50%;
          left: 0.8rem;
        }
      }
      label {
        position: relative;

        svg {
          position: absolute;

          width: 1rem;
          height: auto;
          path,
          ellipse,
          circle {
            fill: $accent-color;
          }
        }

        textarea {
          height: 10rem;
          resize: none;
        }
        textarea,
        input {
          text-transform: uppercase;
          padding: 0.5rem;
          padding-left: 2rem;
          width: 100%;
          border-radius: 3px;
          &:focus {
            outline: 4px solid $accent-color;
          }
        }
      }
    }
  }
}

section.call-to-action {
  background-color: $accent-color;
  color: $light-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 2rem;
    p {
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 1px;
      word-spacing: 4px;
    }
    button {
      background-color: black;
    }
  }
}

@media screen and (max-width: 465px) {
  section.hero {
    .container.second {
      .years {
        position: static;
        width: 100%;
      }
    }
  }
  section.about {
    .content {
      p {
        column-count: 1;
      }
    }
  }
}

//793 is when flex-wrap triggers

@media screen and (max-width: 793px) {
  section.hero {
    .content {
      .container.second {
        margin-left: 0px !important;
        .years {
          position: absolute;
          bottom: 0px;
          top: auto;
          left: auto;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          color: $light-color;
          box-shadow: none;
        }
      }
    }
  }
}

@media screen and (max-width: 793px) and (max-height: 720px) {
  section.hero {
    .content {
      row-gap: 2rem;
      .container.first {
      }
    }
  }
}
