@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap");
$light-background: #f5f5f5;
$dark-background: #454a53;
$accent-color: #d6b56e;
$cool-shadow: 0 0 5px rgba(0, 0, 0, 0.5019607843);
$universal-width: 1200px;
$universal-x-padding: 2rem;
$universal-y-padding: 8rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}

a {
  color: inherit;
}

.logo {
  width: 5rem;
  filter: grayscale(100%) brightness(0) invert(100%) sepia(0%) saturate(0%);
}

header {
  position: static;
  top: 0px;
  z-index: 999;
  font-weight: 900;
  display: flex;
  color: $light-background;
  justify-content: center;
  background-color: black;
  padding: 0.5rem 2rem;

  .content {
    display: flex;
    width: $universal-width;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  input[type="checkbox"] {
    display: none;
  }

  .hamburger-menu {
    width: 3rem;
    height: 3rem;
    svg {
      path {
        stroke: $light-background;
      }
    }
  }
  a:not(.logo) {
    &:hover {
      color: $accent-color;
    }
  }

  .container {
    display: flex;
    gap: 2rem;
    align-items: center;

    nav {
      gap: 2rem;
      align-items: center;
      display: flex;
      a {
        height: min-content;

        letter-spacing: 1px;
      }
    }
  }

  aside {
    position: absolute;
    width: 10rem;
    padding: 2rem;
    bottom: -100vh;
    bottom: -100dvh;
    height: 100vh;
    height: 100dvh;
    right: -10rem;
    transition: right 0.5s;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    background-color: black;
  }

  .overlay {
    display: none;
    position: absolute;
    bottom: -100vh;
    bottom: -100dvh;
    box-shadow: $cool-shadow;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: black;
    // opacity: 0.8;
    animation: obscure 0.5s forwards;
    @keyframes obscure {
      from {
        opacity: 0;
      }
      to {
        opacity: 0.8;
      }
    }
  }
  input:checked ~ aside {
    right: 0px;
  }

  input:checked ~ .overlay {
    display: block;
  }
}

#gatsby-focus-wrapper {
  overflow-x: clip;
  display: grid;
  min-height: 100vh;
  min-height: 100svh;
  height: fit-content;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content 1fr;
}

main > section {
  padding-bottom: $universal-y-padding;
  padding-top: $universal-y-padding;
  padding-left: 2rem;
  padding-right: 2rem;
  & > .content {
    margin: auto;
    max-width: 1200px;
    /*  overflow-x: clip; */
  }
}

footer {
  background-color: black;

  color: $light-background;
  padding-bottom: 2rem;
  padding-top: $universal-y-padding;
  padding-right: $universal-x-padding;
  padding-left: $universal-x-padding;

  .content {
    max-width: $universal-width;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 5rem;
    .container.first {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        a {
          display: flex;

          gap: 1rem;
          align-items: center;

          svg {
            width: 2rem;

            height: auto;
            path {
              fill: $accent-color;
            }
          }
        }
      }
      //
      .extra {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        nav {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          gap: 1rem;
        }
      }
    }
    .container.second {
      display: flex;
      flex-direction: column;

      gap: 2rem;
      h2 {
        text-align: center;
      }
      .social {
        display: flex;

        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        svg {
          width: 2rem;
          height: auto;
          path {
            fill: $accent-color;
          }
        }
      }
    }
    .copyright {
      //display: none;

      text-align: center;
      letter-spacing: 2px;
      word-spacing: 4px;
      font-weight: 900;

      line-height: 1.6rem;

      p:nth-of-type(2),
      a {
        word-break: break-all;
      }
    }
  }
}

@media (max-width: 930px) {
  header {
    position: sticky;
    box-shadow: $cool-shadow;
  }

  header > .content {
    width: 100%;
    & > .container > nav {
      display: none !important;
    }
  }
  footer {
    .extra {
      display: none !important;
    }
  }
}
@media (min-width: 931px) {
  .hamburger-menu {
    display: none !important;
  }

  .sidebar {
    display: none !important;
  }
}
